<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="./css/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="./css/bootstrap/css/bootstrap-theme.min.css" />

<script type="text/javascript" src="./js/libs/jquery-2.0.3.js"></script>
<script type="text/javascript" src="./js/libs/lodash-2.4.1.js"></script>

</head>

<body>
	<div id="base" class="clearfix">
		<div class="column menu">
			<ul>
				<li onclick="menuGrade(1)">Tenis</li>
				<li onclick="menuGrade(2)">Blusa</li>
				<li onclick="menuGrade(3)">Bone</li>
				<li onclick="menuGrade(4)">Oculos</li>
			</ul>
		</div>

		<div class="column content">
			<div class="container">
				<div class="row" id="produto">

				</div>
			</div>
		</div>
	</div>

	<script src="./css/bootstrap/js/bootstrap.min.js"></script>
	<script src="./css/bootstrap/js/bootstrap.js"></script>
	<script src="./js/itens.js"></script>
	<script type="text/javascript" src="./js/carrinho.js"></script>

</body>

</html>
