<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="./css/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="./css/bootstrap/css/bootstrap-theme.min.css" />

<script type="text/javascript" src="./js/libs/jquery-2.0.3.js"></script>
<script type="text/javascript" src="./js/libs/lodash-2.4.1.js"></script>
<body>
	
	<div id="header">
		<ul>
			<li><a href="#home" onclick="abrirTelaBase('./templates/home/base.html')"><img src="./img/homeRed.png"></a> Home</li>
			<li style="float: right"><a href="#carrinho" onclick="abrirTelaBase('./templates/carrinho/carrinho.html')"><img src="./img/stockRed.png"></a>Carrinho</li>
		</ul>	
	</div>
	<script type="text/javascript" src="./css/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./css/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="./js/default.js"></script>
</body>

</html>
